<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path==='/'?'active':'' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path==='/products'?'active':'' %>" href="/products">All
                    Products</a></li>
            <li class="main-header__item"><a class="<%= path==='/cart'?'active':'' %>" href="/cart">Cart</a></li>
            <li class="main-header__item"><a class="<%= path==='/order'?'active':'' %>" href="/order">My Orders</a></li>
            <li class="main-header__item"><a class="<%= path==='/add-product'?'active':'' %>" href="/add-product">Add
                    Product</a></li>
            <li class="main-header__item"><a class="<%= path==='/admin-all-products'?'active':'' %>"
                    href="/admin-all-products">Admin All Products</a></li>
        </ul>
    </nav>
</header>