<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <% if(orders.length<=0){%>
    <h3>No Orders</h3>
    <%}else{%>
    <% orders.forEach((order)=>{ %>
    <h3># <%= order.id %></h3>
    <ul>
        <% order.products.forEach((pro)=>{%>
        <li><%= pro.title %>(<%= pro.orderItem.quantity %>)</li>
        <%})%>
    </ul>
    <% })%>
    <%}%>
  
</body>

</html>